@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
/*  */
body {
  font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: #f4f4f4;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.container {
    max-width: 900px;
    height: 536px;
    margin: 60px auto 0;
    border-radius: 24px;
    display: flex;
    position: relative;
    border-radius: 24px;
    box-shadow: -4px 10px 24px 3px rgb(174, 170, 170);
    overflow: hidden;
    background: #fff;
}
.form_area {
    width: 50%;
    display: flex;
    position: relative;
    transform: translateX(0);
    transition: 0.5s ease-out;
    z-index: 9999;
}
.translate {
    transform: translateX(100%);
    transition: 0.5s ease-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in;
}
.form_area1,
.form_area2 {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    background: #fff;
    transition: 0.2s ease-in;
}
.header{
    margin-top: 70px;
}
.header .title {
    font-size: 30px;
    font-weight: 700;
}
.header .apps {
    display: flex;
    gap: 10px;
}
.header .apps .circle {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
}
.header span {
    color: #020202;
}
form.enter {
    gap: 20px;
    padding: 10px 0;
}
form.enter input {
    width: 320px;
    padding: 12px 20px;
    background: #eee;
    outline: none;
    border: none;
}
.pass_option {
    padding: 15px 0 0;
    color: #020202;
    cursor: pointer;
}
button.signIn_submit,
button.signUp_submit {
    padding: 10px 60px;
    border: none;
    outline: none;
    background: #FF4D2D;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.create_acc {
    display: flex;
    border-radius: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.1s;
}
.introduction1,
.introduction2 {
    min-width: 50%;
    color: #fff;
    padding: 0 30px;
    text-align: center;
    opacity: 1;
    visibility: visible;
    z-index: 999999;
    transition: 0.5s ease-out;
}
.bgColor {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(#FD4569, #FF4850);
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
    z-index: 99999;
}
.color {
    transform: translateX(0%);
}
.intro_style {
    background: transparent;
    opacity: 0;
    visibility: hidden;
    transition: 0.01s ease-out;
}
.text_title {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}
.desc {
    font-size: 20px;
}
button.btn {
    padding: 10px 50px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    margin-top: 10px;
}
/* Validation */
.input_group {
    position: relative;
}
.success {
    border: 3px solid seagreen;
}
.warning {
    border: 3px solid red;
}
.error {
    position: absolute;
    color: red;
    top: 10px;
    right: 10px;
}
